@import "elr-scss-functions/src/main";

@mixin elr-thumbnail($config: ()) {
  $config: extend(
    (
      width: 100px,
      height: 100px,
      border-radius: 0,
    ),
    $config
  );

  $width: map-get($config, width);
  $height: map-get($config, height);
  $border-radius: map-get($config, border-radius);

  @if ($border-radius == "round") {
    border-radius: ($width / 2);
  } @else {
    border-radius: $border-radius;
  }

  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: #999 0 0 0 1px;
  width: $width;
  height: $height;
  display: block;
  text-align: center;
  position: relative;

  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
  }
}

@mixin elr-comments($config: ()) {
  $config: extend(
    (
      link-color: #1976d2,
    ),
    $config
  );

  $link-color: map-get($config, link-color);

  max-width: 700px;

  .elr-comment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .elr-comment-nested {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .elr-comment-avatar {
    @include elr-thumbnail(
      $config: (
        width: 50px,
        height: 50px,
        border-radius: 3px,
      )
    );
    margin-right: 20px;
  }

  .elr-comment-content {
    max-width: 630px - 40;
  }

  .elr-comment-heading {
    padding-bottom: 5px;
    display: flex;
  }

  .elr-comment-author {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    padding: 0;
    margin: 0 10px 0 0;
  }

  .elr-comment-timestamp {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    padding: 0;
    margin: 0;
  }

  .elr-comment-reply {
    font-size: 12px;
    text-decoration: none;
    color: $link-color;
    margin: 0;
    padding: 0;
  }

  // .elr-comment-reply-form {
  //   width: 100%;

  //   [type='submit'] {
  //     background-color: #333;
  //     border: 1px solid #333;

  //     &:hover {
  //       background-color: lighten(#333, 10%);
  //       border-color: lighten(#333, 10%);
  //     }
  //   }
  // }
}
