@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

@mixin elr-thumbnail($config: ()) {
  $config: extend(
    (
      width: 80px,
      height: 80px,
      border-radius: $border-radius,
    ),
    $config
  );

  $width: map-get($config, width);
  $height: map-get($config, height);
  $border-radius: map-get($config, border-radius);

  @if ($border-radius == "round") {
    border-radius: ($width / 2);
  } @else {
    border-radius: $border-radius;
  }

  overflow: hidden;
  width: $width;
  height: $height;
  display: block;
  text-align: center;
  position: relative;

  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
  }
}

@mixin elr-comments($config: ()) {
  $config: extend(
    (
      link-color: $primary-color,
      color: $text-color,
      border-color: $light-gray,
    ),
    $config
  );

  $border-color: map-get($config, border-color);
  $link-color: map-get($config, link-color);
  $color: map-get($config, color);
  $border: 1px solid $border-color;

  margin: $base-fontsize;
  border-top: $border;

  .elr-comment {
    width: 100%;
  }

  > .elr-comment {
    padding: 0 8px 8px;
    border-bottom: $border;
    margin-top: $base-fontsize;
    margin-bottom: $base-fontsize;
  }

  button {
    font-size: 14px;
    background-color: $link-color;
    color: $white;
    margin: 8px 0;
    padding: 4px 8px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    margin: 4px 0;
    padding: 0;
  }

  .elr-comment-nested {
    margin-left: 32px;
    margin-top: $base-fontsize;
    margin-bottom: 0;
  }

  .elr-comment-avatar {
    @include elr-thumbnail(
      $config: (
        width: 50px,
        height: 50px,
        border-radius: 3px,
      )
    );
    margin-right: $base-fontsize;
  }

  .elr-comment-heading {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
  }

  .elr-comment-author {
    font-size: $base-fontsize;
    font-weight: 700;
    color: $color;
    padding: 0;
    margin: 0 8px 0 0;
  }

  .elr-comment-timestamp {
    font-size: 14px;
    font-weight: 400;
    color: $dark-gray;
    padding: 0;
    margin: 0;
  }

  .elr-comment-reply-form {
    width: 100%;
    margin: $base-fontsize 0;

    h4 {
      font-size: 18px;
      margin-bottom: $base-fontsize;
    }

    textarea,
    input {
      display: block;
      width: 100%;
      margin: 8px 0;
      padding: 8px;
      border-radius: $border-radius;
    }

    [type="submit"] {
      display: block;
      background-color: $link-color;
      border: 1px solid $link-color;
      color: $white;

      &:hover {
        background-color: lighten($link-color, 10%);
        border-color: lighten($link-color, 10%);
      }
    }
  }
}
