@import "src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-config/src/main";

@include elr-reset;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: $base-fontsize * 1.5;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.subheading {
  font-size: $base-fontsize * 1.25;
  color: $primary-color;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: $base-fontsize * 1.5 0;
}

.comments {
  @include elr-comments;
}
